XYZ Bank is a leading financial institution known for its innovative loan products and excellent customer service. The bank wants to enhance its loan disbursement process by leveraging financial analytics. As part of the hiring process for a Business Analyst role, they have created a case study that involves analyzing a dataset related to loan disbursement.

In [ ]:
print(range(1000))

range(0, 1000)

In [ ]:
import numpy as np
import pandas as pd



# Create synthetic data for the loan disbursement case study
num_records = 1000

# Generate random loan applicant details
applicant_names = ['Applicant_' + str(i) for i in range(num_records)] #range(0,1000) ..1000 records
loan_amounts = np.random.randint(5000, 50000, num_records)
loan_terms = np.random.randint(12, 72, num_records)
credit_scores = np.random.randint(300, 850, num_records)
employment_types = np.random.choice(['Salaried', 'Self-employed'], num_records)

# Simulate loan approval status
loan_approval_status = np.random.choice([0, 1], num_records, p=[0.3, 0.7])

# Generate random loan disbursed amounts
disbursed_amounts = np.where(loan_approval_status == 1, loan_amounts, 0)

# Create DataFrame from the generated data
loan_data = pd.DataFrame(
    {
    'Applicant_Name': applicant_names,
    'Loan_Amount': loan_amounts,
    'Loan_Term_Months': loan_terms,
    'Credit_Score': credit_scores,
    'Employment_Type': emp_approval_status,
    'Disbursed_Amount': ,loan_amounts
    'Loan_Approval_Status': loan_approval_status
}
)

In [ ]:
loan_data.head()

,Applicant_Name,Loan_Amount,Loan_Term_Months,Credit_Score,Employment_Type,Loan_Approval_Status,Disbursed_Amount
0,Applicant_0,20795,48,800,Salaried,1,20795
1,Applicant_1,5860,16,416,Salaried,1,5860
2,Applicant_2,43158,30,685,Salaried,1,43158
3,Applicant_3,49732,70,643,Salaried,0,0
4,Applicant_4,16284,25,694,Self-employed,1,16284

### How many loan applications were approved?

In [ ]:
num_approved_loans = loan_data['Loan_Approval_Status'].sum()
print("Number of approved loans:", num_approved_loans)

Number of approved loans: 743

### What is the average loan amount requested by applicants?

In [ ]:
avg_loan_amount = loan_data['Loan_Amount'].mean()
print("Average loan amount requested:", avg_loan_amount)

Average loan amount requested: 26921.683

### What is the average disbursed amount for approved loans?

In [ ]:
avg_disbursed_amount = loan_data[loan_data['Loan_Approval_Status'] == 1]['Disbursed_Amount'].mean()
print("Average disbursed amount for approved loans:", avg_disbursed_amount)

Average disbursed amount for approved loans: 26910.58411843876

### How many applicants are salaried and how many are self-employed?

In [ ]:
employment_counts = loan_data['Employment_Type'].value_counts()
print("Employment type counts:\n", employment_counts)

Employment type counts:
 Salaried         526
Self-employed    474
Name: Employment_Type, dtype: int64

### Calculate the percentage of approved loans for salaried applicants.

In [ ]:
salaried_approved_percentage = (loan_data[(loan_data['Employment_Type'] == 'Salaried') &
                                         (loan_data['Loan_Approval_Status'] == 1)].shape[0] /
                               loan_data[loan_data['Employment_Type'] == 'Salaried'].shape[0]) * 100

print("Percentage of approved loans for salaried applicants:", salaried_approved_percentage)

Percentage of approved loans for salaried applicants: 72.6235741444867

### Identify the applicant with the highest credit score.

In [ ]:
applicant_with_highest_credit_score = loan_data.loc[loan_data['Credit_Score'].idxmax(), 'Applicant_Name']
print("Applicant with the highest credit score:", applicant_with_highest_credit_score)

Applicant with the highest credit score: Applicant_403

### Calculate the total disbursed amount for each loan term.

In [ ]:
disbursed_amount_by_term = loan_data.groupby('Loan_Term_Months')['Disbursed_Amount'].sum()
print("Total disbursed amount by loan term:\n", disbursed_amount_by_term)

Total disbursed amount by loan term:
 Loan_Term_Months
12    286673
13    242050
14    297215
15    360093
16    318059
17    404185
18    249784
19    276951
20    167224
21    177933
22    215274
23    452358
24    197558
25    355498
26    382571
27    213899
28    647417
29    506390
30    200620
31    284771
32    164847
33    400538
34    468943
35    387924
36    376243
37    270737
38    297415
39    219452
40    561400
41    257987
42    248949
43    463057
44    243532
45    427102
46    328138
47    310360
48    389268
49    236174
50    332000
51    589153
52    252997
53    348036
54    231989
55    334305
56    469092
57    357567
58    563913
59    260075
60    424222
61    272080
62    367190
63    279391
64    345754
65    352753
66    303765
67    331840
68    183330
69    241827
70    594779
71    269917
Name: Disbursed_Amount, dtype: int32

### Determine the average credit score for approved loans.

In [ ]:
avg_credit_score_approved_loans = loan_data[loan_data['Loan_Approval_Status'] == 1]['Credit_Score'].mean()
print("Average credit score for approved loans:", avg_credit_score_approved_loans)

Average credit score for approved loans: 574.2328398384926

### How many loan applications were submitted by each applicant?

In [ ]:
loan_applications_per_applicant = loan_data['Applicant_Name'].value_counts()
print("Number of loan applications per applicant:\n", loan_applications_per_applicant)

Number of loan applications per applicant:
 Applicant_0      1
Applicant_671    1
Applicant_658    1
Applicant_659    1
Applicant_660    1
                ..
Applicant_338    1
Applicant_339    1
Applicant_340    1
Applicant_341    1
Applicant_999    1
Name: Applicant_Name, Length: 1000, dtype: int64

### Calculate the approval rate for each loan term.

In [ ]:
approval_rate_by_term = loan_data.groupby('Loan_Term_Months')['Loan_Approval_Status'].mean() * 100
print("Approval rate by loan term:\n", approval_rate_by_term)

Approval rate by loan term:
 Loan_Term_Months
12     76.923077
13     71.428571
14     58.823529
15     86.666667
16     68.750000
17     85.714286
18     66.666667
19     68.750000
20     68.750000
21     50.000000
22     57.142857
23     87.500000
24     53.333333
25     68.750000
26     77.777778
27     90.000000
28     86.956522
29     77.777778
30     83.333333
31     92.857143
32     50.000000
33     92.857143
34     84.210526
35     82.352941
36     60.869565
37     60.000000
38     73.333333
39     58.333333
40     70.000000
41     58.823529
42     90.909091
43     84.210526
44     64.705882
45     60.869565
46     76.470588
47     75.000000
48     85.000000
49     60.000000
50     81.250000
51     91.666667
52     81.818182
53     71.428571
54     64.705882
55     68.750000
56     84.210526
57     76.470588
58    100.000000
59     90.000000
60     78.947368
61     84.615385
62     68.181818
63     73.333333
64     70.588235
65     76.470588
66     64.285714
67     87.500000
68     60.000000
69     66.666667
70     75.000000
71     80.000000
Name: Loan_Approval_Status, dtype: float64

### Identify the top 5 applicants with the highest loan amounts.

In [ ]:
top_5_applicants_highest_loan_amounts = loan_data.nlargest(5, 'Loan_Amount')[['Applicant_Name', 'Loan_Amount']]
print("Top 5 applicants with the highest loan amounts:\n", top_5_applicants_highest_loan_amounts)

Top 5 applicants with the highest loan amounts:
     Applicant_Name  Loan_Amount
52    Applicant_52        49974
546  Applicant_546        49912
539  Applicant_539        49811
3      Applicant_3        49732
464  Applicant_464        49690

### Calculate the total disbursed amount for each employment type.

In [ ]:
disbursed_amount_by_employment = loan_data.groupby('Employment_Type')['Disbursed_Amount'].sum()
print("Total disbursed amount by employment type:\n", disbursed_amount_by_employment)

Total disbursed amount by employment type:
 Employment_Type
Salaried         10226225
Self-employed     9768339
Name: Disbursed_Amount, dtype: int32

### Determine the loan approval rate for each credit score range (e.g., 300-400, 401-500, etc.).

In [ ]:
# Create bins for credit score ranges
bins = [300, 500, 700, 850]
labels = ['Poor', 'Fair', 'Good']
loan_data['Credit_Score_Range'] = pd.cut(loan_data['Credit_Score'], bins=bins, labels=labels, right=False)

approval_rate_by_credit_score_range = loan_data.groupby('Credit_Score_Range')['Loan_Approval_Status'].mean() * 100
print("Loan approval rate by credit score range:\n", approval_rate_by_credit_score_range)

Loan approval rate by credit score range:
 Credit_Score_Range
Poor    75.284091
Fair    75.130890
Good    71.804511
Name: Loan_Approval_Status, dtype: float64

### Calculate the average loan amount for approved loans in each employment type.

In [ ]:
avg_loan_amount_by_employment_approved = loan_data[loan_data['Loan_Approval_Status'] == 1].groupby('Employment_Type')['Loan_Amount'].mean()
print("Average loan amount for approved loans by employment type:\n", avg_loan_amount_by_employment_approved)

Average loan amount for approved loans by employment type:
 Employment_Type
Salaried         26770.222513
Self-employed    27059.110803
Name: Loan_Amount, dtype: float64

### Identify the applicant with the most number of approved loans.

In [ ]:
applicant_with_most_approved_loans = loan_data[loan_data['Loan_Approval_Status'] == 1]['Applicant_Name'].value_counts().idxmax()
print("Applicant with the most approved loans:", applicant_with_most_approved_loans)

Applicant with the most approved loans: Applicant_0

Loan_to_Income_Ratio:
The Loan to Income Ratio is a measure of an applicant's ability to repay the loan based on their income. It is calculated as the ratio of the loan amount requested to the applicant's monthly income.

In [ ]:
# Generate random monthly income for each applicant
loan_data['Monthly_Income'] = np.random.randint(2000, 10000, num_records)

# Calculate Loan to Income Ratio
loan_data['Loan_to_Income_Ratio'] = loan_data['Loan_Amount'] / loan_data['Monthly_Income']

loan_data.head()

,Applicant_Name,Loan_Amount,Loan_Term_Months,Credit_Score,Employment_Type,Loan_Approval_Status,Disbursed_Amount,Credit_Score_Range,Monthly_Income,Loan_to_Income_Ratio
0,Applicant_0,20795,48,800,Salaried,1,20795,Good,4163,4.995196
1,Applicant_1,5860,16,416,Salaried,1,5860,Poor,9797,0.598142
2,Applicant_2,43158,30,685,Salaried,1,43158,Fair,6355,6.791188
3,Applicant_3,49732,70,643,Salaried,0,0,Fair,3098,16.052937
4,Applicant_4,16284,25,694,Self-employed,1,16284,Fair,7599,2.142914

Repayment_Period:
The Repayment Period is an estimate of the time required to repay the loan in months. It is calculated as the loan term in months minus the number of months since the loan was disbursed.

In [ ]:
# Assume the current month as 6 for demonstration purposes
current_month = 6

# Calculate Repayment Period
loan_data['Repayment_Period'] = loan_data['Loan_Term_Months'] - (current_month % loan_data['Loan_Term_Months'])

loan_data.head()

,Applicant_Name,Loan_Amount,Loan_Term_Months,Credit_Score,Employment_Type,Loan_Approval_Status,Disbursed_Amount,Credit_Score_Range,Monthly_Income,Loan_to_Income_Ratio,Repayment_Period
0,Applicant_0,20795,48,800,Salaried,1,20795,Good,4163,4.995196,42
1,Applicant_1,5860,16,416,Salaried,1,5860,Poor,9797,0.598142,10
2,Applicant_2,43158,30,685,Salaried,1,43158,Fair,6355,6.791188,24
3,Applicant_3,49732,70,643,Salaried,0,0,Fair,3098,16.052937,64
4,Applicant_4,16284,25,694,Self-employed,1,16284,Fair,7599,2.142914,19

### Calculate the average Loan to Income Ratio for approved loans.

In [ ]:
avg_loan_to_income_ratio_approved = loan_data[loan_data['Loan_Approval_Status'] == 1]['Loan_to_Income_Ratio'].mean()
print("Average Loan to Income Ratio for approved loans:", avg_loan_to_income_ratio_approved)

Average Loan to Income Ratio for approved loans: 5.452570720933551

### Determine the loan approval rate for different Repayment Periods

In [ ]:
approval_rate_by_repayment_period = loan_data.groupby('Repayment_Period')['Loan_Approval_Status'].mean() * 100
print("Loan approval rate by Repayment Period:\n", approval_rate_by_repayment_period)

Loan approval rate by Repayment Period:
 Repayment_Period
6      76.923077
7      71.428571
8      58.823529
9      86.666667
10     68.750000
11     85.714286
12     66.666667
13     68.750000
14     68.750000
15     50.000000
16     57.142857
17     87.500000
18     53.333333
19     68.750000
20     77.777778
21     90.000000
22     86.956522
23     77.777778
24     83.333333
25     92.857143
26     50.000000
27     92.857143
28     84.210526
29     82.352941
30     60.869565
31     60.000000
32     73.333333
33     58.333333
34     70.000000
35     58.823529
36     90.909091
37     84.210526
38     64.705882
39     60.869565
40     76.470588
41     75.000000
42     85.000000
43     60.000000
44     81.250000
45     91.666667
46     81.818182
47     71.428571
48     64.705882
49     68.750000
50     84.210526
51     76.470588
52    100.000000
53     90.000000
54     78.947368
55     84.615385
56     68.181818
57     73.333333
58     70.588235
59     76.470588
60     64.285714
61     87.500000
62     60.000000
63     66.666667
64     75.000000
65     80.000000
Name: Loan_Approval_Status, dtype: float64

### Calculate the total disbursed amount for different Repayment Periods

In [ ]:
disbursed_amount_by_repayment_period = loan_data.groupby('Repayment_Period')['Disbursed_Amount'].sum()
print("Total disbursed amount by Repayment Period:\n", disbursed_amount_by_repayment_period)

Total disbursed amount by Repayment Period:
 Repayment_Period
6     286673
7     242050
8     297215
9     360093
10    318059
11    404185
12    249784
13    276951
14    167224
15    177933
16    215274
17    452358
18    197558
19    355498
20    382571
21    213899
22    647417
23    506390
24    200620
25    284771
26    164847
27    400538
28    468943
29    387924
30    376243
31    270737
32    297415
33    219452
34    561400
35    257987
36    248949
37    463057
38    243532
39    427102
40    328138
41    310360
42    389268
43    236174
44    332000
45    589153
46    252997
47    348036
48    231989
49    334305
50    469092
51    357567
52    563913
53    260075
54    424222
55    272080
56    367190
57    279391
58    345754
59    352753
60    303765
61    331840
62    183330
63    241827
64    594779
65    269917
Name: Disbursed_Amount, dtype: int32

In [ ]:
max_disbursed_Amt = loan_data.groupby('Repayment_Period')['Disbursed_Amount'].max()[:5]
print(max_disbursed_Amt)

Repayment_Period
6     47557
7     44099
8     47929
9     44790
10    49238
Name: Disbursed_Amount, dtype: int32