In [3]:
import numpy as np
import pandas as pd

In [13]:
#Data creation


num_records=1000

applicant_names=['Applicant_'+str(i) for i in range(num_records)]
loan_amount=np.random.randint(5000,50000,num_records)
loan_terms=np.random.randint(12,72,num_records)
credit_scores=np.random.randint(300,850,num_records)
employment_types=np.random.choice(['Salried','Self-employed'],num_records)
loan_approval_status=np.random.choice([0,1],num_records,p=[0.3,0.7])
disbursed_amounts=np.where([loan_approval_status]==1,loan_amount,0)

In [5]:
# DataFrame creation

loan_data = pd.DataFrame({
    'Applicant Name':applicant_names,
    'Loan Amount':loan_amount,
    'Loan_term_months':loan_terms,
    'Credit_Score':credit_scores,
    'Employment_type':employment_types,
    'Disbursed_Amount':loan_amount,
    'Loan_approval_Status':loan_approval_status
    
})

In [6]:
loan_data.head(10)

,Applicant Name,Loan Amount,Loan_term_months,Credit_Score,Employment_type,Disbursed_Amount,Loan_approval_Status
0,Applicant_0,17991,60,787,Salried,17991,1
1,Applicant_1,20635,21,568,Salried,20635,1
2,Applicant_2,49617,39,764,Salried,49617,1
3,Applicant_3,34810,34,575,Salried,34810,0
4,Applicant_4,19183,69,641,Salried,19183,0
5,Applicant_5,16223,19,690,Self-employed,16223,0
6,Applicant_6,37022,45,331,Self-employed,37022,1
7,Applicant_7,22714,56,768,Self-employed,22714,1
8,Applicant_8,17925,67,559,Salried,17925,1
9,Applicant_9,33328,16,320,Salried,33328,1

## How many loan applications were approved

In [7]:
approved_applications=loan_data['Loan_approval_Status'].sum()
print(approved_applications)

706

## Average loan amount requested by applicant

In [8]:
avg_loan_amount_req=loan_data['Loan Amount'].mean()
print(avg_loan_amount_req)

27966.439

## No.of salaried and self employed people

In [9]:
employment_count=loan_data['Employment_type'].value_counts()
print(employment_count)

Salried          518
Self-employed    482
Name: Employment_type, dtype: int64

## Applicant with highest credit score

In [10]:
applicant_with_highest_credit_score = loan_data.loc[loan_data['Credit_Score'].idxmax(), 'Applicant Name']
print("Applicant with the highest credit score:", applicant_with_highest_credit_score)

Applicant with the highest credit score: Applicant_180

## Disbursed Amount for each Loan Term

In [11]:
disbursed_amount_by_term = loan_data.groupby('Loan_term_months')['Disbursed_Amount'].sum()
print("Total Disbursed amount by loan term:\n",disbursed_amount_by_term)

Total Disbursed amount by loan term:
 Loan_term_months
12    419915
13    484342
14    711159
15    508515
16    514668
17    574288
18    555377
19    490757
20    601914
21    572399
22    369523
23    333435
24    273605
25    619368
26    655705
27    490236
28    443319
29    691418
30    333349
31    320754
32    284295
33    365552
34    384848
35    500676
36    325795
37    396366
38    408420
39    551101
40    608184
41    482046
42    879979
43    435309
44    647513
45    332188
46    397724
47    421725
48    507397
49    585392
50    289236
51    366667
52    638700
53    470079
54    465519
55    227331
56    646247
57    557894
58    381432
59    407252
60    489251
61    332789
62    279082
63    512664
64    472822
65    215948
66    541948
67    420249
68    456187
69    383416
70    424601
71    508569
Name: Disbursed_Amount, dtype: int32

## Average Credit Score for approved Loans

In [14]:
avg_credit_score_approved_loans = loan_data[loan_data['Loan_approval_Status'] == 1]['Credit_Score'].mean()
print("Average credit score for approved loans:", avg_credit_score_approved_loans)

Average credit score for approved loans: 577.57223796034

## Top 5 applicants with highest Loan amount

In [17]:
top_5_applicants_highest_loan_amounts = loan_data.nlargest(5, 'Loan Amount')[['Applicant Name', 'Loan Amount']]
print("Top 5 applicants with the highest loan amounts:\n", top_5_applicants_highest_loan_amounts)

Top 5 applicants with the highest loan amounts:
     Applicant Name  Loan Amount
275  Applicant_275        49964
124  Applicant_124        49900
65    Applicant_65        49856
719  Applicant_719        49838
700  Applicant_700        49833

## Total Disbursed Amount for each employment type

In [19]:
disbursed_amount_by_employment = loan_data.groupby('Employment_type')['Disbursed_Amount'].sum()
print("Total disbursed amount by employment type:\n", disbursed_amount_by_employment)

Total disbursed amount by employment type:
 Employment_type
Salried          14467086
Self-employed    13499353
Name: Disbursed_Amount, dtype: int32

## Average Loan to income ratio for approved loans

In [23]:
# Generate random monthly income for each applicant
loan_data['Monthly_Income'] = np.random.randint(2000, 10000, num_records)

# Calculate Loan to Income Ratio
loan_data['Loan_to_Income_Ratio'] = loan_data['Loan Amount'] / loan_data['Monthly_Income']

loan_data.head()

,Applicant Name,Loan Amount,Loan_term_months,Credit_Score,Employment_type,Disbursed_Amount,Loan_approval_Status,Monthly_Income,Loan_to_Income_Ratio
0,Applicant_0,17991,60,787,Salried,17991,1,7570,2.376618
1,Applicant_1,20635,21,568,Salried,20635,1,7387,2.793421
2,Applicant_2,49617,39,764,Salried,49617,1,2297,21.600784
3,Applicant_3,34810,34,575,Salried,34810,0,6462,5.386877
4,Applicant_4,19183,69,641,Salried,19183,0,2695,7.117996

In [24]:
avg_loan_to_income_ratio_approved = loan_data[loan_data['Loan_approval_Status'] == 1]['Loan_to_Income_Ratio'].mean()
print("Average Loan to Income Ratio for approved loans:", avg_loan_to_income_ratio_approved)

Average Loan to Income Ratio for approved loans: 5.609675722238982